{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block menu %}
    <div id="menu" class="menu">
        <ul>
            {% for name, href in content.menu %}
                <li><a href="{{ href }}">{{ name }}</a></li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}
{% block content %}
    <div id="content">
        <h3>Редактировать товар</h3>
        <p class="message" style="color:red">{{ content.message }}</p>
        <form action="index.php?c=admin&act=edit" enctype="multipart/form-data" method="post">
            {% for data in content.good %}
                <label for=""><input type="hidden" name="id_good" value="{{ data.id_good }}"></label>
                <label>Название товара: <input type="text" name="title" value="{{ data.title }}" required></label>
                <label>Описание товара: <textarea name="description" cols="30" rows="5" required>{{ data.description }}</textarea></label>
                <label for="">Цена: <input type="text" name="price" value="{{ data.price }}" required></label>
                <label>
                    <span>Категория: </span>
                    <select name="id_category" size="1" >
                        {% for category in content.categories %}
                            {% if category.id_category == data.id_category %}
                            <option value="{{ category.id_category }}" selected="selected">{{ category.name }}</option>
                            {% else %}
                            <option value="{{ category.id_category }}">{{ category.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            {% endfor %}
            {#<label>Изображение товара: <input type="file" name="file"></label>#}
            <input type="submit" name="submit" value="ЗАГРУЗИТЬ">

        </form>
    </div>
{% endblock %}