{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block menu %}
    <div id="menu" class="menu">
        <ul>
            {% for name, href in content.menu %}
                <li><a href="{{ href }}">{{ name }}</a></li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}
{% block cart %}
    <div class="cart"><a href="index.php?c=cart&act=cart">Корзина</a></div>
{% endblock %}
{% block content %}
    <div id="content">
        <h3>Заказы</h3>
        <p style="color:red">{{ content.message }}</p>
        <table>
            <tbody>
            {% for order in content.orders %}
            <tr>
                <td>Номер заказа: {{ order.id_order }}</td>
                <td>Дата: {{ order.order_date }}</td>
                <td>Статус: {{ order.order_status }}</td>
                <td>Сумма заказа: {{ order.amount }} руб.</td>
                <td><a href="index.php?c=order&act=single&id={{ order.id_order }}">Посмотреть</a></td>
                {% if order.order_status is same as('На удержании') %}
                    <td><button disabled>Отменить</button></td>
                {%  else %}
                    <td><button>Отменить</button></td>
                {% endif %}
            </tr>
            </tbody>
            {% endfor %}

        </table>
    </div>
{% endblock %}